<table class='table'>
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Talle</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="clothes.image" [alt]="clothes.name"></td>
            <td>{{clothes.name}}</td>
            <td>{{clothes.size}}</td>
            <td>{{clothes.price}}</td>
            <td>{{clothes.stock}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
