<div class="card mb-3" style="max-width: 1000px;">
    <div class="row no-gutters">
        <div class="col-md-7">
            <img src="assets/img/about.jpg" class="card-img" alt="about">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Quienes somos?</h3>
                <div>
                    <p class="card-text">Somos Joana y Juan Pedro, mapadres de Calíope, nuestra
                        inspiración! ❤️ 
                    </p>
                </div>
                <div>
                    <p>Cali nació el 5 y recordando todas las cosas innecesarias
                        que compramos mientras la esperábamos 🤰 es que se nos ocurrió ayudarte a que no
                        te pase lo mismo!
                    </p>
                </div>
                <div>
                    <p>En esta pagina vamos a estar subiendo mucha info y productos 😍 junto con los sets
                        indispensables para llevar a la clínica y kits para que le regales a tu
                        amiga 🤰.
                    </p>
                </div>
                <div>
                    <p>Nos interesa que solo te preocupes de disfrutar a tu bebé, de la
                        calidad de la ropita para el/ella, nos encargamos nosotrxs. ❤️
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>